# Node
node_modules/
npm/
yarn.lock
package-lock.json
pnpm-lock.yaml

# Vite
dist/
*.local

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
